*{
  margin: 0;
  padding: 0;
}

.img-slide{
  position: absolute;
  height: 90vh;
  width: 100% !important;
  z-index: -2;
  top:0;
  left: 0;
}

.size{
  font-size: 40px;
}
.z{
  position: absolute;
  z-index: 1000 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px !important;
}

.text-slide {
  font-weight: 400;
  letter-spacing: 14 !important;
  display: inline-block;
  text-transform: uppercase;
}

.fix-slide{
 top: 64px !important;
 height: 91% !important;
}

.side-nav-img{
  background-image: url(img/sven-mieke-1162927-unsplash.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 150px;
}

.sid-nav-text{
  position: absolute;
  text-align: start;
  font-weight: 400;
  font-size: 20px;
  color: whitesmoke;
  margin-right: 10px;
  letter-spacing: 1.5px;
  right: 0;
  top: 100px;
}

.menu-border{
  border-bottom: 1px solid rgb(226, 223, 223);
}


.logo-text{
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 3px !important;
  color:whitesmoke;
}